<div class="content fixwidth">
  <div class="box_gray">
    <% if @success.present? %>
      <h2><strong class="hred">验证成功!</strong></h2>
      <h4 class="gray">请点击下面的链接进行登录</h4>
      <%= link_to '登 录', signin_users_path, :class => 'btn_green size-max' %>
    <% else %>
      <h2><strong class="hred">验证失败</strong></h2>
      <dl>
        <dd><%= link_to '返回登录', signin_users_path %></dd>
        <dd><%= link_to '注册', signup_users_path %></dd>
      </dl>
    <% end %>
  </div>
</div>
