<div class="content fixwidth">
  <div class="box_gray">
    <h2>验证邮件已发送到你的邮箱：<strong class="hred"><%= @email %></strong></h2>
    <h4 class="gray">请注意接受邮件，点击邮件里的确认链接完成验证</h4>
    <fieldset><%= link_to '查看邮箱', mail_server(@email), :class => 'btn_green size-l', :target => '_blank' %></fieldset>
    <dl>
      <dt>没有收到验证邮件？</dt>
      <dd>1. 到广告邮件、垃圾邮件目录里找找看</dd>
      <dd>2. 真心没收到？<%= link_to '重新发送验证邮件', send_activation_email_users_path %></dd>
      <dd>3. 不小心填错了Email？<%= link_to '再申请一个', signup_users_path %></dd>
    </dl>
  </div>
</div>
