<div class="content">
  <h1 class="title_page">创建新帐户</h1>
  <div class="tabs margintop12">
    <div class="fixwidth">
      <label class="gray">请选择帐户类型</label>
      <%= nav_signup %>
    </div>
  </div>
  <div class="fixwidth tab2">
    <div class="form_left">
      <h4 class="hred">请发送邮件到business@adspot.cn，相关业务人员会在第一时间回复您</h4>
    </div>
    <div class="form_right">
      <dl><dt><h3>使用Adspot能给你带来什么</h3></dt>
        <dd><h5>为你的图片添加丰富的多媒体效果</h5>
        <p>网站创建成功后，系统会分配给网站一段代码，作为该域名的唯一标识。同时跳转到“代码”页面，做网站验证工作。</p>
        </dd>
        <dd><h5>为你的图片添加丰富的多媒体效果</h5>
        <p>网站创建成功后，系统会分配给网站一段代码，作为该域名的唯一标识。同时跳转到“代码”页面，做网站验证工作。</p>
        </dd>
        <dd><h5>为你的图片添加丰富的多媒体效果</h5>
        <p>网站创建成功后，系统会分配给网站一段代码，作为该域名的唯一标识。同时跳转到“代码”页面，做网站验证工作。</p>
        </dd>
      </dl>
    </div>
    <div class="clear"></div>
  </div>
</div>
