<%= notice_div %>
<div class="product_detail product_addnew" style="padding-left:0px">
  <div class="product_info ">
    <h4>新增产品：</h4>
  </div>
  <%= render :partial => 'form' %>
</div>
<%= notice_javascript %>
