<div class="fullwidth_product"> 
  <div id="product_nav"> 
    <%= render :partial => 'productlist' %>
  </div>
  <div class="ad_right ad_product_right" id="product_detail">
    <%= render :partial => 'new' %>
  </div>
</div>
<script>
$(document).ready(function(){
  var s = window.location.hash;
  if (s == '#new') {
    $('.icon_product a:first').trigger('click');
  } else {
    $('.table_data1 a:first').trigger('click');
  }
});
</script>  
