<div class="fullwidth_product"> 
  <div id="product_nav"> 
    <%= render :partial => 'productlist' %>
  </div>
  <div class="ad_right ad_product_right" id="product_detail">
    <% if @success.present? %>
      <%= render 'show' %>
    <% else %>
      <%= render 'upload' %>
    <% end %>
  </div>
</div>

